/* general reset: removes  defaults and sets box-sizing */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

#css-zen-garden {
    background-color: #083c5d;
}

/* page wrapper class targeted */
.page-wrapper {
    display: flex; /* allows for flex layout */
    flex-direction: column; /* stacks elements vertically */
    min-height: 100vh; /* makes the wrapper span the full viewport height */
    padding: 30px;
}

/* styles the role=banner */
header[role="banner"]{
    padding: 20px; /*adds space around the header */
    text-align: center; /* centers the text */
    background-color: #328cc1; /* adds background color to header */
    font-size: 20px; /* sets the font size */
    color: #d98310;
    -webkit-text-stroke: .25px #083c5d ;
}

.summary {
    margin-top: 20px;
    width: 250px;
    justify-content: center;
    background-color: #328cc1;
    color: #d98310;
    -webkit-text-stroke: .25px #083c5d;
}

.summary a{
    color: #1d2731;
    text-decoration: underline;
}


/* targets the main container */
.main {
    display: flex; /* creates a flexible layout for child elements */
    flex-wrap: wrap; /* allows for the elements to wrap onto a new line */
    gap: 20px; /* adds space between child elements */
    padding: 20px; /* adds space around the element */
    border-style: dashed; /* creates a dashed border */
    border-color: blue; /* changes dashed border color to blue */
}

/* targets the sidebar container */
.sidebar {
    padding: 20px; /* adds space inside the sidebar */
    justify-content: center; /* centers children horizontally */
    align-items: center; /* centers children vertically */
}

/* sidebar nav list */
.sidebar nav ul {
    padding: 0; /* removes default padding */
    margin: 0; /* removes default margin */
    list-style: none; /*removes bullet points from list */
}

/* sidebar list items */
.sidebar nav ul li {
    display: inline-block; /* aligns list items in a single line */

}

/* sidebar links */
.sidebar a {
    font-size: 16px; /* sets font size */
    text-align: left; /* aligns text left */
    text-decoration: none; /* removes underline */
    padding: 5px; /* adds spacing inside the link area */
}

/* sidebar links hover effect */
.sidebar a:hover {
    background-color: aqua; /* hover effect */
}

/* content sections */
.summary, .preamble, .explanation, .participation, .benefits, .requirements {
    margin-bottom: 10px; /* adds spacing below each section */
    padding: 10px; /* adds spacing inside each section */
    font-size: 18px;
}

