/* controls the section that falls under intro class */
.intro{
    border-style: dashed;
    border-color: green;
}

/* controls the section that falls under main class */
.main{
    border-style: dashed;
    border-color: red;
}

/* controls the section that falls under sidebar class */
.sidebar{
    border-style: dashed;
    border-color: blue;
}

/* controls the div page-wrapper section */
.page-wrapper {
    display: flex;
    flex-direction: column; /* stacks elements vertically*/
    min-height: 100vh; /* makes it take up the full viewport height */
}

/* controls the section that falls under header */
header{
    text-align: center; /* aligns text to the center */
    padding: 16px; /* adds padding */
    border-style: dashed;
    border-color: purple;
}

/* controls the section that falls under footer */
footer{
    border-style: dashed;
    border-color: brown;
    background-color: rgb(214, 152, 211); /* background color */
    text-align: center; /* aligns the text to the center */
    padding: 16px; /* adds padding */
}